<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque!</p>
    <%- include('./partials/nav.ejs') %>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>