<!DOCTYPE html>
<html lang="en">
    <link href="./dist/output.css" rel="stylesheet">

    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, doloremque!</p>
    <p class="text-red-700">kdfjkd</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>