<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>Create a new post</h1>
    <%- include('./partials/nav.ejs') %>
    <form action="" method="post">
        <h1>Create New Blog</h1>
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="title" placeholder="Title" class="create">
        <label for="body">Blog Snippet</label>
        <input type="text" name="body" id="body" placeholder="">
        <label for="body">Blog Description</label>
        <input type="text" name="body" id="body" placeholder="">
        <button type="button">Save</button>
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>