<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <h1>Create a new post</h1>
    <%- include('./partials/nav.ejs') %>
    <form action="forms" method="post">
        <label for="title">Name</label>
        <input type="text" name="title" id="title" placeholder="Title">
        <label for="body">Password</label>
        <input type="text" name="body" id="body" placeholder="Password">
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>